
<h2>Configuracion Clientes</h2>

@*<div class="jumbotron" style="background-color: #2c3e50 !important">*@
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="ejercicio">
                <div class="form-group">
                    <label>Empresa: </label>
                    <select id="tipoMovimiento" name="tipoMovimiento" class="form-control" data-rule-required="true">
                        <option value="0">- Seleccione un opcion -</option>
                        <option value="1">Asegurados</option>
                        <option value="2">Movimientos</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ejercicio">
                <div class="form-group">
                    @*<label>GUIA: </label>
                        <input type="text" class="form-control" disabled="disabled" value="77400">*@
                </div>
            </div>
        </div>

    </div>
</div>

